<script>
    let nodeModulesSrcPath = 'Website/auth/sign-up';
    import { onMount } from '../node_modules/svelte'; 
    import Notifications from '../node_modules/svelte-notifications/src';
    import SvelteNotificationComponent from './Component/SvelteNotificationComponent.svelte';
    export let signUp = { 
        email: 'test004@example.com', 
        password: 'password',
        password_confirmation: 'password',
        validation: {
            error: '',
        }
    }

    let child;
    let is_sign_up_process = false;
 
    function handleSignUp() {
        if (is_sign_up_process) {
            return;
        }

        signUp.validation.error = '';

        if (signUp.email.trim() == '') {
            signUp.validation.error = 'Required email address';
            return ;
        } else {
            if (!signUp.email.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
                signUp.validation.error = 'Please enter a valid email true';
                return ;
            }
        }

        if (signUp.password.trim() == '') {
            signUp.validation.error = 'Required password';
            return ;
        }

        if (signUp.password_confirmation.trim() == '') {
            signUp.validation.error = 'Required password_confirmation';
            return ;
        }

        is_sign_up_process = true;

        axios
            .post('/auth/sign-up', {
                email   : signUp.email, 
                password: signUp.password,
                password_confirmation: signUp.password_confirmation,
            })
            .then(response => {
                is_sign_up_process = false;

                if (typeof response.data != 'undefined') {
                    if (response.data.status == 'success') {
                        location.href = response.data.data.url.home_page_url;
                    } else {
                        let error_data = response.data.error;
                        let msg = null;
                        if (error_data.code > 0) {
                            msg = error_data.message;
                        } else {
                            msg = error_data.message[Object.keys(error_data.message)[0]][0];
                        }

                        child.handleCreateNotification(msg, 'danger', 3000);
                    }
                }
            })
            .catch(function(error) {
                is_sign_up_process = false;

                child.handleCreateNotification('請稍候再試，謝謝', 'danger', 3000);
            });
    }
</script>

<Notifications>
    <SvelteNotificationComponent bind:this="{child}"></SvelteNotificationComponent>
    <main class="clearfix mt-5 col-md-6">
        <div class="p-4">
            <table class="table">
                <tr><td class="text-light bg-dark text-center" colspan="2">會員註冊</td></tr>
                <tr>
                    <td class="text-right w-25">帳號：</td>
                    <td class="w-75"><input type="email" bind:value={signUp.email} placeholder="請輸入Email"></td>
                </tr>
                <tr>
                    <td class="text-right w-25">密碼：</td>
                    <td class="w-75"><input type="password" bind:value={signUp.password} placeholder="請輸入密碼"></td>
                </tr>
                <tr>
                    <td class="text-right w-25">確認密碼：</td>
                    <td class="w-75"><input type="password" bind:value={signUp.password_confirmation} placeholder="再確認一次密碼"></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="text-danger p-3">{signUp.validation.error}</div>
                        <button type="button" class="btn btn-success" on:click={() => handleSignUp()}>註冊</button>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</Notifications>

<style>
    main {
        text-align: center;
        padding: 1em;
        margin: 0 auto;
    }
</style>